
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: goldenrod;
  background: #fff;
}
nav{
  position: fixed;
  background: rgb(28, 7, 7);
  width: 100%;
  padding: 10px ;
  z-index: 12;
}
nav .menu{
 font-family: sans-serif;    
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  
  padding: 0 20px;
}

.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 15px;
}
.menu ul li:first-child{
  margin-left: 10px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: rgb(145, 101, 185);
  color: whitesmoke;
}
.img{
  background: url("../images/title.jpg")no-repeat;
   
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position:absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 40%;
  left: 0%;
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 65px;
  font-weight: 600;
}

.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: rgb(104, 116, 244);
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}
.center .btns button:last-child:hover{
  color: rgb(32, 31, 31);
   background: rgb(156, 220, 245);
 
}

.abstract{
    margin: 0px 50px 0px 50px;
    
}
p{
    text-align: justify;
    font-size: 30px;
}
.imags{
    margin: 0px 50px 0px 50px;
    width: 1300px;
    height: 500px;
}
.name{
    float: left;
    width: 600px;
    height: 300px;
    margin-left: 50px;
}
.names{
    float: right;
    width: 600px;
    height: 300px;
    margin-right: 50px;
}
.ven{
    float: left;
    width: 300px;
    height: 300px;
}
.sirisha{
    float: right;
    width: 300px;
    height: 300px;
}
.hitesh{
    float: left;
    width: 300px;
    height: 300px;
}
.varma{
    float: right;
    width: 300px;
    height: 300px;
}
#h2{
  margin-left: 40px;
}

